@import "../../style.scss";
body{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    @include mobile{
        overflow-x: hidden !important; 
    }
}
.login{
    height: 100vh;
    background-color: rgb(193, 190,255);
    display: flex;
align-items: center;
justify-content: center;
overflow: hidden !important;

        @include mobile{
        height: auto; 
        background-color: white;
        display: block;
        padding: 0 !important;
        }
    .card{
        width: 55%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 500px;
        @include mobile{
        flex-direction: column !important;
        width: 90% !important; 
        max-height: none !important; 
        min-height: auto !important; 
        max-width: 100% !important;
        margin: 40px auto 0 auto !important; 
        display: flex;
        align-items: center;
        padding: 0;
        }
        @include tablet{
        width: 80% !important; 
        max-width: 800px !important; 
        flex-direction: row !important; 
        margin-top: 20px !important; 
        }
        .left{
            flex: 1;
        background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url("../Img/pexels-markusspiske-247160.jpg") center;
        background-size: cover;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: white;
        @include mobile{
            flex: none; 
        width: 100%; 
        padding: 30px 20px 20px 20px !important;
        background-position: center center !important;
        min-height: 280px;
        border-radius: 20px;
        margin: 0 !important;
        & > *:first-child {
            margin-top: 0 !important;
        }
        @include tablet{
            padding: 30px !important;
        gap: 20px !important;
        }
        }
            h1{
                font-size: 90px;
                line-height: 85px;
                @include tablet{
                    font-size: 60px !important; 
        line-height: 55px !important;
                }
            }
            p{}
            span{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color: rebeccapurple;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .right{
            flex: 1;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        @include mobile{
            flex: none; 
        width: 100%; 
        padding: 20px;
        background-color: white; 
        border-radius: 0 0 10px 10px;
        }
        @include tablet{
            padding: 30px !important; 
            width: 100%;
        gap: 20px !important;
        }
            h1{
                color:#555
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                @include tablet{
            width: 100%;
        }
                input{
                    border: none;
                    border-bottom: 1px solid rgb(185, 184, 184);
                    padding: 20px 10px;
                    @include mobile{
                    border-bottom: 1px solid rgb(105, 103, 103);
                    border: 1px solid rgb(105, 103, 103);
                }
                @include tablet{
            padding:  15px 10px !important; 
            width: 100%;
        }
                }
                button{
                    width: 50%;
                padding: 10px;
                border: none;
                background-color: #938eef;
                color: white;
                font-weight: bold;
                cursor: pointer;
                @include mobile{
                    width: 100% !important;
                }
                @include tablet{
                    width: 50% !important;
                }
                }
            }
        }
    }
}





// .login{
// height: 100vh;
// background-color: rgb(152, 149, 207);
// display: flex;
// align-items: center;
// justify-content: center;
// overflow: hidden;
//     .card{
//         width: 55%;
//         display: flex;
//         background-color: white;
//         border-radius: 10px;
//         min-height: 460px;


//     .left{
//         flex: 1;
//         background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url("../Img/pexels-markusspiske-247160.jpg") center;
//         background-size: cover;
//         padding: 50px;
//         display: flex;
//         flex-direction: column;
//         gap: 30px;
//         color: white;


//             h1{
//                 font-size: 90px;
//                 line-height: 85px;
//             }

//             p{

//             }

//             span{
//                 font-size: 14px;
//             }

//             button{
//                 width: 50%;
//                 padding: 10px;
//                 border: none;
//                 background-color: white;
//                 color: rebeccapurple;
//                 font-weight: bold;
//                 cursor: pointer;
//             }
//         }


//     .right{
//         flex: 1;
//         padding: 50px;
//         display: flex;
//         flex-direction: column;
//         gap: 50px;
//         justify-content: center;

//             h1{
//                 color:#555
//             }

//             form{
//                 display: flex;
//                 flex-direction: column;
//                 gap: 30px;


//                 input{
//                     border: none;
//                     border-bottom: 1px solid lightgray;
//                     padding: 20px 10px;
//                 }

//                 button{
//                 width: 50%;
//                 padding: 10px;
//                 border: none;
//                 background-color: #938eef;
//                 color: white;
//                 font-weight: bold;
//                 cursor: pointer;
//                 }
//             }
//         }
//     }
// }