@import "../../style.scss";

.home {
    @include themify($themes){

    background-color: themed("bgsoft");
    min-height: 100%;
    padding: 20px 70px;

    @include mobile{
        padding: 10px; 
    }

    @include tablet{
        padding: 20px;
    }
}
}