$theme:(
    light: (
    textColor: #000,
    bg: white,
    logo: darkblue,
    bgsoft: #f6f3f3,
    textcolorsoft: #555,
    border: lightgray,
),
dark: (
    textColor: whitesmoke,
    bg: #222,
    logo: white,
    bgsoft: #333,
    textcolorsoft: lightgray,
    border: #444,
),
);